body{
background-image:url("../image/cover.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
position:relative;
}

.jumbotron{
   color:#5A7994;
opacity:0.8;
margin:auto;
width:700px;  
margin-top:30px; 
}

#header.bottom-header{
padding-top:240px;
padding-bottom:280px;
}

}


.ques{
	padding-top: 10px;
}
.com{
	float:left;
}
.sub{
	padding-top: 10px;
}
.checkbox{
	padding-left: 50px;
}

.form{

	margin-top: 50px;
	transition: all 4s ease-in-out;
}
.submit{

	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
}

.submit:hover
{
	background-color: #000000;
	cursor: pointer;
}












